:root {
    --black-100: #1A1A1A;
    --black-200: #202020;
    --black-300: #2A2A2A;
    --black-400: #303030;
    --black-500: #3A3A3A;
    
    --grey-100: #7A7A7A;
    --grey-200: #8A8A8A;
    --grey-300: #9A9A9A;
    --grey-400: #AAAAAA;
    --grey-500: #BABABA;
    
    --white-100: #FEFEFE;
    --white-200: #FAFAFA;
    --white-300: #F2F2F2;
    --white-400: #EEEEEE;
    --white-500: #ECECEC;
    
    --dark-shadow-05: rgba(26, 26, 26, 0.05);
    --dark-shadow-25: rgba(26, 26, 26, 0.25);
    --dark-shadow-50: rgba(26, 26, 26, 0.50);
    --dark-shadow-75: rgba(26, 26, 26, 0.75);
    --dark-shadow-90: rgba(26, 26, 26, 0.90);
    --dark-shadow-96: rgba(26, 26, 26, 0.96);

    --light-shadow-05: rgba(254, 254, 254, 0.05);
    --light-shadow-25: rgba(254, 254, 254, 0.25);
    --light-shadow-50: rgba(254, 254, 254, 0.50);
    --light-shadow-75: rgba(254, 254, 254, 0.75);
    --light-shadow-90: rgba(254, 254, 254, 0.90);
    
    --main-black: var(--black-100);
    --main-white: var(--white-100);

    --ghost: #622C7B;
    --fairy: #DF5799;
    --rock: #4A3826;
    --dark: #2A2A2A;
    --fire: #BF3724;
    --bug: #128764;
    --water: #3152C6;
    --ground: #80542D;
    --dragon: #4F1DDF;
    --poison: #9E10E0;
    --flying: #4A777D;
    --normal: #968f8f;
    --fighting: #845D2F;
    --steel: #939294;
    --psychic: #CB1CB9;
    --electric: #A98C24;
    --ice: #4695A7;
    --grass: #378A40;

    --border-radi-sm: 2px;
    --border-radi-md: 4px;
    --border-radi-lg: 8px;
    --border-radi-xl: 16px;
    --border-radi-circ: 50%;
}