:root {
    --main-black: #1A1A1A;
    --main-white: #FEFEFE;

    --main-shadow-05: rgba(26, 26, 26, 0.05);
    --main-shadow-25: rgba(26, 26, 26, 0.25);
    --main-shadow-50: rgba(26, 26, 26, 0.50);
    --main-shadow-75: rgba(26, 26, 26, 0.75);
    --main-shadow-90: rgba(26, 26, 26, 0.90);

    --ghost: #622C7B;
    --fairy: #DF5799;
    --rock: #4A3826;
    --dark: #2A2A2A;
    --fire: #BF3724;
    --bug: #128764;
    --water: #3152C6;
    --ground: #80542D;
    --dragon: #4F1DDF;
    --poison: #9E10E0;
    --flying: #4A777D;
    --normal: #968f8f;
    --fighting: #845D2F;
    --steel: #939294;
    --psychic: #CB1CB9;
    --electric: #A98C24;
    --ice: #4695A7;
    --grass: #378A40;

    --border-radi-sm: 2px;
    --border-radi-md: 4px;
    --border-radi-lg: 8px;
    --border-radi-circ: 100px;
}

.ghost {
    background-color: var(--ghost);
}
.fairy {
    background-color: var(--fairy);
}
.rock {
    background-color: var(--rock);
}
.dark {
    background-color: var(--dark);
}
.fire {
    background-color: var(--fire);
}
.bug {
    background-color: var(--bug);
}
.water {
    background-color: var(--water);
}
.ground {
    background-color: var(--ground);
}
.dragon {
    background-color: var(--dragon);
}
.poison {
    background-color: var(--poison);
}
.flying {
    background-color: var(--flying);
}
.psychic {
    background-color: var(--psychic);
}
.normal {
    color: var(--main-black);
    background-color: var(--normal);
}
.fighting {
    background-color: var(--fighting);
}
.steel {
    background-color: var(--steel);
}
.electric {
    background-color: var(--electric);
}
.grass {
    background-color: var(--grass);
}
.ice {
    background-color: var(--ice);
}