@import "./global.css";

::selection {
    background: var(--dragon);
    color: var(--main-white);
}

* {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.main {
    width: 100%;
    /* position: relative; */
    min-height: 100vh;
    overflow: hidden;
}

hr {
    border: 1px solid var(--steel);
}

section.cards {
    max-width: 100%;
    margin: calc(64px + 40px) 0 24px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 12px;
}

footer {
    z-index: -1;
    position: absolute;
    bottom: 0;
    /* margin-top: auto; */
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    section.cards {
        max-width: 100%;
        /* margin: 64px 0; */
        padding: 0 40px;
        display: grid;
        grid-template-columns: auto auto auto;
        
        gap: 16px 20px;
    }

}