@import "./global.css";

::selection {
    background: var(--dragon);
    color: var(--electric);
}

* {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.main {
    position: relative;
    min-height: 100vh;
}

hr {
    border: 1px solid var(--steel);
}

section.cards {
    max-width: 100%;
    margin: 24px 0;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 12px;
}

.card {
    max-width: 158px;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    background-color: var(--main-white);
    border-radius: 12px;
    box-shadow: 0px 12px 25px 0px rgba(0, 0, 0, 0.05), 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}

.container-images {
    width: 120px;
    height: 120px;
    background: no-repeat center url("./img/bg-pokeball.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-artwork-main, .bg-pokeball {
    width: 120px;
    height: 120px;
}

.bg-pokeball {
    opacity: 25%;
}

h2.pokemon-name {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 100%;
    color: var(--main-black);
    font-size: 18px;
    align-self: stretch;
    text-align: center;
    text-overflow: ellipsis;
}

.pokemon-types {
    display: flex;
    gap: 6px;
    font-weight: 700;
}

.pill-type {
    padding: 3px 4px;
    width: 56px;
    max-width: 56px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: var(--main-white);
    background-color: var(--main-black);
    border-radius: 2px;

    font-family: 'Space Mono', 'Space Grotesk', monospace;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
}

.ghost {
    background-color: #622C7B;
}
.fairy {
    background-color: #DF5799;
}
.rock {
    background-color: #4A3826;
}
.dark {
    background-color: #1A1A1A;
}
.fire {
    background-color: #BF3724;
}
.bug {
    background-color: #128764;
}
.water {
    background-color: #3152C6;
}
.ground {
    background-color: #80542D;
}
.dragon {
    background-color: #4F1DDF;
}
.poison {
    background-color: #9E10E0;
}
.flying {
    background-color: #4A777D;
}

footer {
    z-index: -1;
    position: absolute;
    bottom: 0;
    /* margin-top: auto; */
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    section.cards {
        max-width: 100%;
        margin: 64px 0;
        padding: 0 40px;
        display: grid;
        grid-template-columns: auto auto auto;
        
        gap: 16px 20px;
    }

    .card {
        max-width: 228px;
        padding: 16px 14px;
    }
    
    .container-images, .pokemon-artwork-main {
        width: 160px;
        height: 160px;
    }
 
    h2.pokemon-name {
        font-size: 24px;
    }


}