@import "./global.css";
@import "./colors.css";

* {
    font-family: 'Space Grotesk', sans-serif;
}

html {
    background-color: var(--bg);
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--bg);
}

h1, h2, h3, h4, h5 {
    color: var(--headline-primary);
}

/* p {
    color: var(--copy);
} */

.main {
    width: 100%;
    /* position: relative; */
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);

}

hr {
    border: 1px solid var(--border-secondary);
}

section.cards {
    max-width: 100%;
    background-color: var(--bg);
    margin: calc(64px + 32px) 0 24px;
    padding: 0 20px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
    display: grid;
    grid-template: 1fr 1fr 1fr / repeat(2, minmax(auto, 158px));
    justify-content: center;
    align-content: center;
    place-content: center center;
    
    gap: 16px;
}

div.footer {
    margin-top: auto;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main);
    background-color: var(--bg);
}

div.footer > a {
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    color: var(--copy);
    padding-left: 4px;
    transition: all 300ms ease-out;
}

div.footer > a:hover {
    color: var(--theme);
}

@media screen and (min-width: 568px) {
    section.cards {  
        gap: 24px;
    }
}

@media screen and (min-width: 768px) {
    section.cards {
        max-width: 100%;
        margin: 64px auto 0;
        padding: 40px;
        display: grid;
        grid-template: auto auto / repeat(3, minmax(auto, 228px));
        justify-content: center;     
        gap: 24px;
    }
}

@media screen and (min-width: 1440px) {
    section.cards {
        margin: calc(64px + 48px) 0 48px;
        padding: 0 40px;
        grid-template: auto auto / repeat(3, minmax(auto, 256px));
        gap: 32px;
    }
}