button {
    cursor: pointer;

    padding: 6px;
    color: var(--dragon);
    background-color: color-mix(in srgb, var(--main-white) 50%), white;
    border-radius: var(--border-radi-circ);
    border: none;
    /* box-shadow: 0 1px 3px 0 var(--main-shadow-25); */

    font-size: 16px;
    line-height: 100%;
    transition: all 300ms;
}

button:hover {
    background-color: color-mix(in srgb, var(--dragon) 20%, white);
    /* box-shadow: 0 2px 1px 0 var(--main-shadow-50); */
    /* top: 14px; */
}

button:focus {
    outline: none;
    border: 2px dashed var(--dragon);
    background-color: color-mix(in srgb, var(--dragon) 40%, white);
}

button:active {
    color: var(--main-white);
    background-color: var(--dragon);
    /* box-shadow: 0 0 1px 0 var(--main-shadow-25); */
    /* top: 16px; */
}

[hover-tooltip] {
    position: relative;
    /* cursor: default; */
}

[hover-tooltip]:hover::before {
    content: attr(hover-tooltip);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    display: block;
    left: 50%;
    min-width: 144px;
    max-width: 200px;
    bottom: calc(100% + 10px);
    transform: translate(-50%);
    animation: fade-in 500ms ease-in-out;
    animation-delay: 2s;
    background: var(--main-black);
    border-radius: var(--border-radi-sm);
    padding: 8px 10px;
    color: var(--main-white);
    z-index: 1;
}

[hover-tooltip]:hover::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    width: 0;
    height: 0;
    bottom: calc(100% + 6px);
    margin-left: -3px;
    border: 1px solid var(--main-black);
    border-color: var(--main-black) transparent transparent transparent;
    border-width: 4px 6px 0;
    animation: fade-in 500ms ease-in-out;
    animation-delay: 2s;
    z-index: 1;
  }

[hover-tooltip][tooltip-position=bottom]:hover::before {
    left: 40%;
    bottom: auto;
    top: calc(100% + 10px);
}
[hover-tooltip][tooltip-position=bottom]:hover::after {
    left: 40%;
    bottom: auto;
    top: calc(100% + 6px);
    border-color: transparent transparent #272727;
    border-width: 0 6px 4px;
}

[hover-tooltip][tooltip-position=left]:hover::before {
    left: auto;
    bottom: 0;
    transform: translateX(-5px) translateY(0%);

    right: calc(20px + 10px);
}
[hover-tooltip][tooltip-position=left]:hover::after {
    left: auto;
    width: 0;
    height: 0;
    bottom: 0;
    transform: translateX(-5px) translateY(-75%);

    /* margin-left: -3px; */
    right: calc(20px + 6px);
    border-color: transparent transparent transparent #272727;
    border-width: 6px 0 6px 4px;
}
  
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

