button {
    position: relative;
    cursor: pointer;

    padding: 6px;
    color: var(--main);
    /* background-color: var(--bg); */
    background-color: inherit;

    border-radius: var(--border-radi-circ);
    border: none;

    font-size: 16px;
    line-height: 100%;
    transition: all 300ms;
}

button:hover {
    background-color: color-mix(in srgb, var(--main) 20%, var(--bg));
}

button:focus {
    outline: none;
    background-color: color-mix(in srgb, var(--main) 40%, var(--bg));
}

button:active {
    color: var(--bg);
    background-color: var(--main);
}

/*  TOOL TIP SETUP + STYLING    */

[data-text]:before {
    content: attr(data-text); /* here's the magic */
    position: absolute;
    z-index: 20;

    /* vertically center */
    top: 100%;
    margin: 4px 0 0 0;
    
    /* move to left */
    transform: translateX(-60px);
    /* right: 5%; */
    /* margin-right: 4px; */

    /* basic styles */
    width: 120px;
    padding: 6px 8px;
    border-radius: var(--border-radi-sm);
    background: var(--main-black);
    color: var(--main-white);
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;

    display: none; /* hide by default */
}

[data-text]:hover:before {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: content; */
    animation: fade-in 500ms ease-in-out;
}

[data-position="left"]:before {
    top: 50%;
    transform: translateY(-60%);
    
    /* move to right */
    right: 100%;
    margin-right: 4px; /* and add a small left margin */
}

.primary {
    color: var(--theme);
    /* background-color: var(--bg); */
    /* background-color: color-mix(in srgb, var(--bg) 50%), white; */
}

.primary:hover {
    background-color: color-mix(in srgb, var(--theme) 20%, var(--bg));
}

.primary:focus {
    background-color: color-mix(in srgb, var(--theme) 40%, var(--bg));
}

.primary:active {
    color: var(--main-white);
    background-color: var(--theme);
}

.danger {
    color: var(--fire);
    /* background-color: color-mix(in srgb, var(--bg) 50%), var(--bg); */
}

.danger:hover {
    background-color: color-mix(in srgb, var(--fire) 20%, var(--bg));
}

.danger:focus {
    background-color: color-mix(in srgb, var(--fire) 40%, var(--bg));
}

.danger:active {
    color: var(--main-white);
    background-color: var(--fire);
}

/* This is my "primary button"--need to refactor this sol primary is seoncdary and this solid is primary... */
.solid {
    --border-color: rgba(78, 29, 223, 0.10);
    margin-top: 1rem;
    width: 50%;
    max-width: 200px;
    height: 36px;
    font-size: 1rem;
    font-weight: 700;
    padding: 9px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: var(--border-radi-md);
    border: 1px solid var(--border-color);
    color: var(--main-white);
    background: linear-gradient(135deg, var(--dragon), var(--bug));
    box-shadow: 0 0 2px 1px var(--shadow-05);
    transition: all 300ms ease-out;
}

.solid:hover {
    background: linear-gradient(-135deg, var(--bug), var(--dragon));
    box-shadow: 0 2px 4px 2px var(--shadow-25);
}

.solid:focus {
    outline: 1px solid var(--fire);
}

.solid:hover {
    background: linear-gradient(45deg, var(--dragon), var(--bug));
    box-shadow: 0 0px 1px 0 var(--shadow-05);
}

.icon {
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    transition: all 300ms ease-out;
}

.solid:hover .icon {
    width: 24px;
    height: 24px;
    transform: rotate(360deg);
}
  
@keyframes fade-in {
    from {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

