@import "../global.css";
@import "../colors.css";

.card {
    cursor: pointer;
    /* max-height: 196px; */
    width: 158px;
    max-width: 158px;
    padding: 12px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    background-color: var(--bg);
    border-radius: 12px;
    box-shadow: 0px 4px 12px 0px var(--shadow-05), 0px 0px 8px 0px var(--shadow-25);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    margin-top: -6px;
    box-shadow: 0px 6px 18px 0px var(--shadow-25), 0px 2px 4px 0px var(--shadow-50);
}

.container {
    width: 120px;
    height: 120px;
    background: no-repeat center url("../img/bg-pokeball.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.card:hover .container {
    width: 128px;
    height: 128px;
}

.artwork, .bg-pokeball {
    width: 120px;
    height: 120px;
}

.artwork {
    animation: silhouette-reveal ease-in-out 1200ms 1;
}

.bg-pokeball {
    opacity: 25%;
}

h2.name {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 100%;
    color: var(--headline-primary);
    font-size: 18px;
    text-transform: capitalize;
    align-self: stretch;
    text-align: center;
    text-overflow: ellipsis;
}

.types {
    display: flex;
    gap: 6px;
    font-weight: 700;
}

.pill {
    padding: 3px 4px;
    width: 56px;
    max-width: 56px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: var(--main-white);
    border-radius: 2px;
}

.pill > p {
    font-family: 'Space Mono', 'Space Grotesk', monospace;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
}

.fadeIn {
    animation: fade-in-out 500ms 1;
}

.sliver {
    animation: sliver-sm ease-in-out 1000ms 1;
}

@keyframes fade-in-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes sliver-sm {
    0% {
        opacity: 0;
        margin-top: 0;
    }

    50% {
        opacity: 0.40;
        margin-top: -4px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes sliver-md {
    0% {
        opacity: 0;
        margin-top: 0;
    }

    50% {
        opacity: 0.40;
        margin-top: -12px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes sliver-lg {
    0% {
        opacity: 0;
        margin-top: 0;
    }

    50% {
        opacity: 0.40;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes silhouette-reveal {
    from {
        filter: contrast(0%) brightness(50%);
    }

    50% {
        filter: contrast(0%) brightness(50%);
    }

    to {
        filter: none;
    }
}

@media screen and (min-width: 768px) {
    
    .card {
        max-height: 220px;
        width: 186px;
        max-width: 228px;
        padding: 16px 14px;
        box-shadow: 0px 2px 6px 4px var(--shadow-05), 0px 1px 4px 0px var(--shadow-25);
    }
    
    .card:hover {
        margin-top: -10px;
        box-shadow: 0px 6px 12px 2px var(--shadow-25), 0px 2px 6px 1px var(--shadow-50);
    }
    
    .container, .artwork {
        width: 160px;
        height: 160px;
    }

    .card:hover .container {
        width: 176px;
        height: 176px;
    }
 
    h2.name {
        font-size: 24px;
        text-transform: capitalize;
    }

    .sliver {
        animation: sliver-md ease-in-out 1000ms 1;
    }

}

@media screen and (min-width: 1440px) {
    .card {
        height: 264px;
        max-height: 280px;
        width: 224px;
        max-width: 256px;
        padding: 24px;
    }
    
    .container, .artwork {
        width: 200px;
        height: 200px;
    }

    .card .artwork {
        transition: all 0.3s ease-in-out;
    }

    .card:hover .container {
        width: 192px;
        height: 192px;
    }

    .card:hover .artwork {
        width: 216px;
        height: 216px;
    }

    .sliver {
        animation: sliver-lg ease-in-out 1000ms 1;
    }

}