@import "../global.css";

.card {
    max-width: 158px;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    background-color: var(--main-white);
    border-radius: 12px;
    box-shadow: 0px 12px 25px 0px rgba(0, 0, 0, 0.05), 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}

.container {
    width: 120px;
    height: 120px;
    background: no-repeat center url("./img/bg-pokeball.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artwork, .bg-pokeball {
    width: 120px;
    height: 120px;
}

.bg-pokeball {
    opacity: 25%;
}

h2.name {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 100%;
    color: var(--main-black);
    font-size: 18px;
    align-self: stretch;
    text-align: center;
    text-overflow: ellipsis;
}

.types {
    display: flex;
    gap: 6px;
    font-weight: 700;
}

.pill {
    padding: 3px 4px;
    width: 56px;
    max-width: 56px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: var(--main-white);
    border-radius: 2px;
}

.pill > p {
    font-family: 'Space Mono', 'Space Grotesk', monospace;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
}

.normal {
    color: var(--main-black);
}

@media screen and (min-width: 768px) {
    section.cards {
        max-width: 100%;
        margin: 64px 0;
        padding: 0 40px;
        display: grid;
        grid-template-columns: auto auto auto;
        
        gap: 16px 20px;
    }

    .card {
        max-width: 228px;
        padding: 16px 14px;
    }
    
    .container, .artwork {
        width: 160px;
        height: 160px;
    }
 
    h2.name {
        font-size: 24px;
        text-transform: capitalize;
    }

}