.container {
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.25rem;
    padding: 0.5rem;
    border-radius: var(--border-radi-md);
    background-color: color-mix(in srgb, var(--black-100) 10%, white);
    color: var(--main-black);
}

p {
    font-size: 0.75rem;
}

.icon {
    margin-top: 4px;
    color: var(--main-black);
    width: 2rem;
    /* height: 2rem; */
    max-height: 2rem;
    line-height: 100%;
}

.info {
    background-color: color-mix(in srgb, var(--water) 10%, white);
    color:var(--water);
}

.info > .icon {
    color: var(--water);
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
        gap: 0.375rem;
        padding: 1rem;
    }
     
    .icon {
        margin-top: 4px;
        color: var(--main-black);
        width: 2rem;
        max-height: 2rem;
    }

    .info {
        background-color: color-mix(in srgb, var(--water) 10%, white);
        color:var(--water);
    }

    .info > .icon {
        color: var(--water);
    }
}