@import "../global.css";

nav {
    z-index: 100;
    max-width: 100%;
    height: 64px;
    background: var(--main-white);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);

    display: flex;
    padding: 0 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.pokeball {
    height: 32px;
    width: 32px;
}

.positionLeft {
    position: absolute;
    top: 16px;
    left: 24px;
}

.positionRight {
    position: absolute;
    top: 16px;
    right: 24px;
}

/* .infoBtn {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 24px;

    padding: 6px;

    color: var(--dragon);
    background-color: var(--main-white);
    border-radius: var(--border-radi-circ);
    border: none;
    box-shadow: 0 1px 1px 0 var(--main-shadow-25);

    font-size: 16px;
    line-height: 100%;
}

.infoBtn:hover {
    color: var(--main-white);
    background-color: var(--dragon);
    box-shadow: 0 0 0 0 var(--main-shadow-05);
} */

/* .randomizeBtn {
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 24px;

    padding: 6px;

    color: var(--dragon);
    background-color: var(----main-white);
    border-radius: var(--border-radi-circ);
    border: none;
    box-shadow: 0 1px 1px 0 var(--main-shadow-25);

    font-size: 16px;
    line-height: 100%;
}

.randomizeBtn:hover {
    color: var(--main-white);
    background-color: var(--dragon);
    box-shadow: 0 0 0 0 var(--main-shadow-05);
} */

.icon {
    width: 20px;
    height: 20px;
}