@import "../global.css";

.bg {
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--shadow-dark);

    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.icon {
    width: 20px;
    height: 20px;
}

hr {
    margin: 0;
    width: 100%;
    border: 0.5px solid var(--border-secondary);
    color: var(--border-secondary);
}

.main {
    z-index: 200;
    overflow-y: scroll;
    overflow-x: hidden;
    /*  Hiding the scrollbar but allowing it to scroll on Firefox and Edge*/
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    position: fixed;
    width: calc(100vw - 64px);
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px 32px 24px;
    /* margin-bottom: 64px; */
    background-color: var(--bg);
    box-shadow: -2px 0 4px var(--shadow-50);
}

/*  Hiding the scrollbar but allowing it to scroll on Chrome, Safari and Opera*/
.main::-webkit-scrollbar {
    display: none;
}

.mainCenter {
    z-index: 200;
    overflow-y: scroll;
    overflow-x: hidden;
    /*  Hiding the scrollbar but allowing it to scroll on Firefox and Edge*/
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    position: fixed;
    width: calc(100vw - 64px);
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px 32px 24px;
    /* margin-bottom: 64px; */
    background-color: var(--bg);
}

.desktopDisplayOnly {
    display: none;
}

.actions {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    width: inherit;
    position: fixed;
    /* background-color: var(--bg); */
    /* filter: blur(2px); */
    /* background-color: rgba(var(--bg), 0.75);
    backdrop-filter: blur(2px); */
}


.navActions > p {
    color: var(--headline-tertiary);
}

.navActions {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.section {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section > * {
    width: 100%;
}

.image {
    background: no-repeat center/contain url("../img/pokeball-bg-lg.png");
    width: max(100%, 256px);
    max-width: 256px;
    height: auto;
    object-fit: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.image > img {
    width: 80%;
    max-width: 196px;
}

.name {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.name > h1 {
    font-size: 2rem;
    text-transform: capitalize;
}

.name > h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--copy)
}

.types {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.types > h4 {
    color: var(--copy);
    font-weight: 400;
    text-transform: uppercase;
}

.types > .group {
    display: flex;
    gap: 6px;
    font-weight: 700;
}

.pill {
    padding: 3px 4px;
    width: 56px;
    max-width: 56px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: var(--main-white);
    border-radius: 2px;
}

.pill > p {
    font-family: 'Space Mono', 'Space Grotesk', monospace;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
}

.info {
    display: inline-flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.stats {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 24px 40px;
    justify-content: center;
    align-items: center;
}

.bst {
    margin: 8px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 576px) {
    .bg {
        background-color: var(--shadow-dark);
    }
    .main {
        position: fixed;
        height: auto;
        width: 360px;
        top: 0;
        bottom: 0;
        right: 0;
        margin-bottom: 0;
        border-radius: var(--border-radi-xl) 0 0 var(--border-radi-xl);
        gap: 20px;
    }
    
    .info {
        gap: 32px;
    }

    .stats {
        gap: 24px 32px;
    }

    .name > h1 {
        font-size: 2.25rem;
    }

    .name > h4 {
        font-size: 1.5rem;
    }

    .pill {
        padding: 6px 8px;
        width: 72px;
    }

    .pill > p {
        font-size: 14px;
    }

}
@media screen and (min-width: 1024px) {
    .desktopDisplayOnly {
        display: block;
    }

    .mainCenter {
        overflow-y: hidden;
        overflow-x: hidden;

        width: 768px;
        /* height: 464px; */
        max-height: 496px;
        top: 80px;
        display: grid;
        grid-template: 32px auto / 1fr 1fr;
        gap: 16px;
        padding: 32px;
        border-radius: var(--border-radi-xl);
        box-shadow: 0 2px 4px var(--shadow-50);
    }

    .actions {
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    .contentA {
        grid-column: 1 / span 1;
        grid-row: 2 / 3;
        align-content: center;
        justify-content: center;
        /* place-content: center / center; */
    }

    .contentB {
        grid-column: 2 / span 1;
        grid-row: 2 / 3;
        align-content: center;
        justify-content: center;
        /* place-content: center / center; */
    }

    .image {
        margin-top: 40px;
    }

    .mainCenter > .image {
        margin-top: 0;
    }
    
}
