@import "../global.css";

.bg {
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-shadow-50);

    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.icon {
    width: 20px;
    height: 20px;
}

hr {
    margin: 0;
    width: 100%;
    border: 0.5px solid var(--grey-300);
    color: var(--grey-300);
}

.main {
    overflow-y: scroll;
    position: fixed;
    width: calc(100vw - 64px);
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    margin-bottom: 64px;

    background-color: var(--main-white);
}

.actions {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.action > p {
    color: var(--black-300);
}

.image {
    background: no-repeat center url("../img/pokeball-bg-lg.png");
    width: 100%;
    height: auto;
    object-fit: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.image > img {
    max-width: 80%;
}

.name {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.name > h1 {
    font-size: 2rem;
    text-transform: capitalize;
}

.name > h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grey-100)
}

.types {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.types > h4 {
    color: var(--grey-100);
    font-weight: 400;
    text-transform: uppercase;
}

.types > .group {
    display: flex;
    gap: 6px;
    font-weight: 700;
}

.pill {
    padding: 3px 4px;
    width: 56px;
    max-width: 56px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: var(--main-white);
    border-radius: 2px;
}

.pill > p {
    font-family: 'Space Mono', 'Space Grotesk', monospace;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
}

.info {
    display: inline-flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.stats {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 24px 48px;
    justify-content: center;
    align-items: center;
}

.bst {
    margin: 8px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 576px) {
    .bg {
        background-color: var(--main-shadow-90);
    }
    .main {
        position: fixed;
        width: 360px;
        top: 0;
        right: 0;
        margin-bottom: 0;
        border-radius: var(--border-radi-xl) 0 0 var(--border-radi-xl);
    }
}