@import "../global.css";
@import "../animations/bar-growth.css";

.main {
    width: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.main > span {
    color: var(--label);
    text-overflow: ellipsis;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 100%;
}

.main > p {
    color: var(--headline-secondary);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
}

.main2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.main2 > span {
    color: var(--label);
    text-overflow: ellipsis;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 100%;
}

.statbar {
    width: calc(100% - 16px);
    /* width: 6%; */
    display: inline-flex;
    justify-content: start;
    padding: 5px 8px;
    color: var(--main-white);
    background-color: var(--theme);
    border-radius: var(--border-radi-sm);
    /* animation: bar-grow 1500ms 1; */
}

.statbar > p {
    background: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
    text-shadow: 0 0 1px 0 var(--shadow-dark);
}

@media screen and (min-width: 576px) {
    .main {
        width: 144px;
        gap: 6px;
    }
    
    .main > span {
        font-size: 1rem;
    }
    
    .main > p {
        font-size: 1.8rem;
    }
}